<!-- container -->
	<section id="container">
	    <div class="container">
	        <div class="row">
	            <div class="span12">
	            	<div class="row">
	            	<!-- page content -->
	                    <section id="page-sidebar" class="alignleft span3">
	                        <div class="row">
	                        	<div class="span3">
	                                <div class="title-divider">
	                                    <h3>考试科目</h3>
	                                    <div class="divider-arrow"></div>
	                                </div>
                                	<div class="accordion" id="accordion2">
										<div class="accordion-group exam-nav-bor">
										   <div class="accordion-heading">
											    <a class="accordion-toggle exam-nav-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
											    	  一级<span class="badge pull-right exam-badge-bg">ⅴ</span>
											    </a>
										    </div>
										    <div id="collapseOne" class="accordion-body collapse ">
										        <div class="accordion-inner">
										          <a href="#/exam/0">计算机基础及WPS Office应用</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/1">计算机基础及MS Office应用</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/2">计算机基础及Photoshop应用</a>
										        </div>
										    </div>
										</div>
										
										<div class="accordion-group exam-nav-bor">
										    <div class="accordion-heading">
											    <a class="accordion-toggle exam-nav-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
											      	二级<span class="badge pull-right exam-badge-bg">ⅴ</span>
											    </a>
										    </div>
										    <div id="collapseTwo" class="accordion-body collapse ">
										        <div class="accordion-inner">
										          <a href="#/exam/3">C语言程序设计</a>                       <%-- 9个--%>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/4">VB语言程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/5">VFP数据库程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/6">Java语言程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/7">Access语言程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/8">C++语言程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/9">MySQL数据库程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/10">Web程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/11">MS Office高级应用</a>
										        </div>
										    </div>
										</div>
										
										<div class="accordion-group exam-nav-bor">
										    <div class="accordion-heading">
											    <a class="accordion-toggle exam-nav-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
											    	三级<span class="badge pull-right exam-badge-bg">ⅴ</span>
											    </a>
										    </div>
										    <div id="collapseThree" class="accordion-body collapse ">
										        <div class="accordion-inner">
										          <a href="#/exam/12">网络技术</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/13">数据库技术</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/14">软件测试技术</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/15">信息安全技术</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/16">嵌入式系统开发技术</a>
										        </div>
										    </div>
										</div>
										
										<div class="accordion-group exam-nav-bor">
										    <div class="accordion-heading">
											    <a class="accordion-toggle exam-nav-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
											      	四级<span class="badge pull-right exam-badge-bg">ⅴ</span>
											    </a>
										    </div>
										    <div id="collapseFour" class="accordion-body collapse ">
										        <div class="accordion-inner">
										          <a href="#/exam/17">网络工程师</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/18">数据库工程师</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/19">软件测试工程师</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/20">信息安全工程师</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="#/exam/21">嵌入式系统开发工程师</a>
										        </div>
										    </div>
										</div>
									</div>
	                                
	                            </div>
	                        </div>
	                    </section>
	                    
	                    <!-- sidebar -->
	                    <aside id="sidebar" class="alignright span9">
	                        <section class="exam-block clearfix">
	                       		 <div class="exam-block-br">
	                       		 	<p><h4>一、单项选择题：</h4></p>
	                       		 	<div id="exam-xzt" ng-repeat="xzt in xztList">
	                       		 		
			                            <p>{{$index+1}}、<span name="exam-xzt-title" id="exam-xzt-title">{{xzt.title}}</span></p>
			                            <p><input type="radio" name="option" value="A"/>A 、<span name="optionA-title" id="optionA-title">{{xzt.option1}}</span></p>
				                        <p><input type="radio" name="option" value="B"/>B、 <span name="optionB-title" id="optionB-title">{{xzt.option2}} </span></p>                    
				                        <p><input type="radio" name="option" value="C"/>C、 <span name="optionC-title" id="optionC-title">{{xzt.option3}}</span></p> 
				                        <p><input type="radio" name="option" value="D"/>D、 <span name="optionD-title" id="optionD-title">{{xzt.option4}}</span></p>
				                        <div class="hidden" id="answer"><p  style="background:#92DD96;"><b>正确答案：{{xzt.answer}}</b></p></div>
		                            </div>
		                            <p><h4>二、填空题：</h4></p>
		                            <div id="exam-tkt" ng-repeat="tkt in tktList">
		                            	
			                            <p>{{$index+1}}、<span name="exam-tkt-title" id="exam-tkt-title">{{tkt.title}}</span>
										</p>
										<p>答案：<input type="text" class="span7" name="answer1" value=""/></p>
										<div class="hidden" id="answer"><p  style="background:#92DD96;"><b>正确答案：{{tkt.answer}}</b></p></div>
		                            </div>
		                            <p><h4>三、大题：</h4></p>
		                            <div id="exam-dt">
			                            <p>1、
			                            	<span name="exam-dt-title" id="exam-dt-title">{{bTkt.title}}</span>
										</p>
										<p>
											答案：<textarea rows="10" name="exam-dt-answer" id="exam-dt-answer" class="span7"></textarea>
										</p>
										<div class="hidden" id="answer"><p  style="background:#92DD96;"><b>正确答案：{{bTkt.answer}}</b></p></div>
		                            </div>
		                            <button type="button" class="btn btn-large" id="exam-submit">查看答案</button>
		                            <a href="#/exam/refresh/{{subjectType}}" class="btn btn-large" id="exam-change">换一套题</a>
		                         </div>
	                        </section>
	                    </aside> 
	            	
	            	</div>
	            </div>
	        </div>
	    </div>
	</section>
	<script >
		$(document).ready(function(){
			$("#exam-submit").toggle(function(){
				$("div#answer").removeClass("hidden");
				$(this).text("隐藏答案");
			},function(){
				$("div#answer").addClass("hidden");
				$(this).text("查看答案");
			});
		});

	</script>
